In [1]:
#DZ1

from typing import Dict, Any, Union
import copy
import re

spisok3 = []
pattern = '.*/[0-9]{8}' # шаблон страницы новостей (любые символы, потом / и 8 цифр подряд)
pattern1 = '/[0-9]{8}.*'
pattern2 = '/'
pattern3 = ''
print()
prog = re.compile(pattern)
# если поставить опцию 'w' при обращении к файлу, то он будет очищен
# если 'a' - данные будут добавлены в конец файла
with open("/Users/khrebtoaleksey/ds/URLs.txt","r") as f:
    for line in f:
        line = line.strip()           # убираем символ переноса строки для каждой читаемой строчки
        #re.sub('ЧТО ИЩЕМ', 'ЧЕМ ЗАМЕНЯЕМ', 'СТРОКА В КОТОРОЙ ИЩЕМ')
        if prog.match(line):
            result = re.sub(pattern1, pattern3, line)
            result1 = re.sub(pattern2, pattern3, result)
            spisok3.append(result1)
i = 0
slovar2 = {}
while i < len(spisok3):
    if spisok3[i] not in slovar2.keys():
      slovar2[spisok3[i]] = 1
    else:
      slovar2[spisok3[i]] =  slovar2[spisok3[i]] + 1
    i = i + 1

for key, value in slovar2.items():
    print( key, value )

with open('out.txt','w') as out:
    for key,val in slovar2.items():
        out.write('{}:{}\n'.format(key,val))
        
#DZ1 END!

politics 10
world 8
science 5
video 10
middleeast 3
economics 3
travel 1
starlife 12
health 2
cis 4
incidents 5
sport 2
crazy-world 2
business 4
head 2
articles 7
finances 1
europe 1
kinomusic 1
lifestyle 1

In [39]:
#DZ2
#Упражнение
#Загрузите в датафрейм mountains содержимое файла Mountains.csv. Посчитайте следующие показатели:

#Минимальную и максимальную высоту гор в этом наборе

#В каком году было впервые покорено наибольшее количество вершин (столбец First ascent)?

#Постройте распределение распределение First ascent по годам
! ls

Mountains.csv dz1.ipynb     new.ipynb     readmi.md
URLs.txt      kaggle        out.txt       repo.ipynb

In [2]:
import pandas as pd
import numpy as np

In [13]:

mount = pd.read_csv('Mountains.csv')
mount.head(118)

,Rank,Mountain,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
0,1,Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
1,2,K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
2,3,Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
3,4,Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
4,5,Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0
...,...,...,...,...,...,...,...,...,...,...,...
113,105,Noijin Kangsang / Norin Kang,7206,23642,2160,Nagarze Himalaya,28°56′48″N 90°10′42″E﻿,Gangkar Puensum,1986,4,1.0
114,106,Langtang Ri,7205,23638,650,Langtang Himalaya,28°22′53″N 85°41′01″E﻿,Shisha Pangma,1981,4,0.0
115,107,Kangphu Kang,7204,23635,1200,Lunana Himalaya,28°09′20″N 90°03′48″E﻿,Tongshanjiabu,2002,1,0.0
116,108,Singhi Kangri,7202,23629,790,Siachen Karakoram,35°35′59″N 76°59′01″E﻿,Teram Kangri III,1976,2,0.0
117,109,Lupghar Sar,7200,23622,730,Hispar Karakoram,36°21′01″N 75°02′13″E﻿,Momhil Sar,1979,1,0.0

In [6]:
mount.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 11 columns):
Rank                         118 non-null int64
Mountain                     118 non-null object
Height (m)                   118 non-null int64
Height (ft)                  118 non-null int64
Prominence (m)               118 non-null int64
Range                        118 non-null object
Coordinates                  118 non-null object
Parent mountain              117 non-null object
First ascent                 118 non-null object
Ascents bef. 2004            116 non-null object
Failed attempts bef. 2004    115 non-null float64
dtypes: float64(1), int64(4), object(6)
memory usage: 10.3+ KB

In [7]:
mount.describe()

,Rank,Height (m),Height (ft),Prominence (m),Failed attempts bef. 2004
count,118.000000,118.000000,118.000000,118.000000,115.000000
mean,59.500000,7578.042373,24862.364407,1671.567797,8.400000
std,34.207699,341.471211,1120.311905,1234.813419,15.782958
min,1.000000,7200.000000,23622.000000,217.000000,0.000000
25%,30.250000,7316.500000,24004.000000,712.750000,1.000000
50%,59.500000,7472.500000,24516.500000,1332.500000,3.000000
75%,88.750000,7775.500000,25509.750000,2297.250000,11.000000
max,118.000000,8848.000000,29029.000000,8848.000000,121.000000

In [28]:
mount['Height (m)'].max()
#Минимальную и максимальную высоту гор в этом наборе

8848

In [30]:
mount['Height (m)'].min()

7200

In [33]:
#В каком году было впервые покорено наибольшее количество вершин (столбец First ascent)?
mount['First ascent'].max()

'unclimbed'

In [34]:
import csv

results = []
with open("/Users/khrebtoaleksey/Documents/01 Подготовка/DZ1/urls.txt", newline='') as inputfile:
    for row in csv.reader(inputfile):
        results.append(row)